* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    border: 1px solid grey;
    background-image: url('Dictionary Page.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}

button {
    background: #005800;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	margin: 1rem;
	padding: .5rem;
	text-transform: uppercase;
}

/* We will want to toggle the display property between flex and none to switch pages */
.wordInputContainer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
}

#logo {
    /* margin-bottom: 70px; */
    width: 250px
}


.definitionPage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;   
}

#definition {
    margin-bottom: 25%;
}

